body {
	font-family: Monospace, Courier;
	font-size: 16px;

	max-width: 900px;

	padding-left: 2ch;
	padding-right: 3ch;
	margin: 0 auto;

	color: #d8d8d8;
	background: black;
}
 
@media (max-width: 500px) { /* For small screen decices */
	body {
		font-size: 12px; 
	}
}   

a {
	color: #d8d8d8;
}

p {
	text-align: justify;
}

hr {
	width: 100%;
	border-top: 0.1px solid white;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

footer {
	text-align: center;
}

h1 {
	font-size: 16px;
}

h1 a {
	text-decoration: none;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 2em;
}

h4 {
	font-size: 16px;
	font-weight: normal;
}

.index ol {
	list-style: none;
	padding: 0;
}

ul li {
	margin-bottom: 10px;
}

code {
	display: block;
	white-space: pre;

	font-family: Monospace, Courier;
	font-size: 16px;

	background-color: #e8e8e8;
	color: black;

	border: 1px solid black; 

	padding: 1ch;
	margin: 1ch;

	overflow: scroll;
}
